.chat-control {
    display: inline-block;
    position: absolute;
    right: 265px;
    bottom: 5px;
    z-index: 100000;
}

.chat-badge {
    position: relative;
    top: -3px;

    width: 15px;
    height: 15px;
    display: inline-block;

    font-size: 11px;
    text-align: center;
    font-weight: bold;

    background: #E20000;
    color: white;

    margin-right: 2px;
    border-radius: 100%;

    animation-name: redPulse;
    -webkit-animation-name: redPulse;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
    from { background-color: #E20000; }
    50% { background-color: #ffa09c;  }
    to { background-color: #E20000; }
}

.chat-icon {
    padding: 2px;
}

.chat-icon-open {
    background: darkgray;
    color: white;
}


.chat-window {
    position: fixed;
    bottom: 29px;
    right: 260px;
    width: 250px;
    height: 300px;

    background: white;
    border: 1px solid lightgray;
    z-index: 4000;
    display: flex;
    flex-direction: column;
}

.chat-window-title {
    text-align: center;

    border: 1px solid lightgray;
    color: lightgray;

    background-color: #333;
    font-size: 11px;
    line-height: 20px;
    height: 20px;
    text-shadow: 0 -1px 0 #000;
}

.chat-window-close {
    float: right;
    margin: 4px 4px 0 0;
    cursor: pointer;
}

.chat-window-close:hover {
    color: red;
}

.chat-messages {
    background: #f9f7f7;
    flex: 1;
    overflow: auto;
}

.chat-time {
    float: right;
    font-size: 12px;
}

.chat-user {
    font-size: 12px;
}

.chat-message {
    border-left: 3px solid;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid lightgrey;
    font-size: 13px;
}

.chat-input {
    width: 240px;
    padding: 5px;
    z-index: 4000;
    border-style: solid none none none;
    border-width: 1px;
    border-color: lightgray;
}



.chat-input:focus {
    outline: none;
}